
.legal-content {

  margin: 0 auto;
  padding: 2rem;
  font-family: "Arial", sans-serif;
  line-height: 1.7;
  color: black;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.legal-content h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: black;
  text-align: center;
}

.legal-content h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: black;
}


.legal-content p {
  margin-bottom: 1rem;
  font-size: 1rem;
}


.legal-content .section {
  margin-bottom: 2rem;
}


@media (max-width: 600px) {
  .legal-content {
    padding: 1rem;
  }

  .legal-content h1 {
    font-size: 1.5rem;
  }

  .legal-content h2 {
    font-size: 1.2rem;
  }

  .legal-content p {
    font-size: 0.95rem;
  }
}
